.form {
  background-color: var(--bgSoft);
  padding: 10px 50px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.form h1 {
  margin-bottom: 15px;
}
.form input {
  width: 100%;
  padding: 20px 30px;
  background-color: var(--bg);
  border: 2px solid #2e384a;
  color: var(--text);
}
.form button {
  width: 100%;
  padding: 15px 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
